body {
	background-color: #fff;
	color: #181A24;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin:0;
}
header {
   	height:50px;
	width: 100%;
	position: fixed;
	background-color: #2C3E50;
	margin-top: -20px;
}
#header-content{
	position:fixed;
	top: -20px;
	left: 40%;
	height: 60px;

}
#resume-container {
	margin-top: 20px;
	margin-left: 22%;
	margin-right: 22%;
	padding: 45px 75px 20px 75px;
	background-color: #5EA0D3;
	text-align: left;
	min-width: 30%;
}
#profile-contact {
	margin-top: -9px;
	font-size: 85%;
	text-align: center;
	padding-left: 50px;
}

#profile-about {
	font-size: 115%;

}
img {
	float: right;
	width: 225px;
}
.date {
	float: right;
	font-size: 90%;
}

p {
	display: block;
	line-height: 1.5;
	margin-top: 0;
	font-size: 85%;
}

h1 {
	color: #5EA0D3;
}

h4 {
	margin: 0px;
}

a {
	
	text-decoration: none;	
	color: #000;
}
hr {  
	border: 0;
  	height: 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
li{
	line-height:1.75;
	font-size: 85%;
}